.productsDetailsHeading {
    background: #F6F7F8 0% 0% no-repeat padding-box;
    text-align: center;
    margin: 20px 0px;
}

.productsDetailsinfo {
    letter-spacing: 0.35px;
    color: #117ddb;
    font-size: 1.1rem;
    padding: 10px;
    font-weight: 500;
}

.product-banner {
    background: #2E90E5 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-top: 1px solid #c0c0c0;
    border-radius: 8px;
}

.product-banner-text {
    margin: auto;
    margin-left: 10%;
    margin-right: 2%;
    width: 100%;
    color: #fff;
}

.product-banner-header {
    font-size: 2.8rem;
    font-weight: 300;
}

.product-banner-para {
    font-size: 1.05rem;
}

.product-banner-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.08rem;
    font-weight: 500;
    border-bottom: 2px solid #fff;
}

.product-banner-text a:hover {
    color: #fff;
}

.Image_banner_product {
    max-width: 350px;
    max-height: 350px;
    margin-right: 8%;
}


/* Products Left Side Code  */

.product-info-left-container {
    margin-right: 4%;
}

.product-info-left-inner {
    background: #F6F7F8 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #22262A;
    padding: 4%;
    margin-bottom: 20px;
}

.infodetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
    padding-right: 20px;
}

.infodetails:hover {
    color: #33A0FF;
}

.infop {
    font-weight: 500;
    margin: 0;
    color: #22262A;
}

a {
    text-decoration: none;
}

.color-detais {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
}

div.form-check.form-check-inline {
    margin-right: 6px;
}


/* Right  */

.product-info-right-inner {
    background: #F6F7F8 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 8px;
    margin: 15px 0px;
}

.nopadding {
    padding: 0;
}

.product-selector {
    margin-right: 6%;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 4px;
}

.product-selector:hover {
    background-color: #22262A;
    color: #fff;
}


/* Right  */

.product-info-right-inner-acc {
    background: #F6F7F8 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
    border-radius: 8px;
    margin: 15px 0px;
}

.product-info-right-inner-acc div span {
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
}

.product-info-right-inner-acc div select {
    background-color: #f0f0f0;
    padding: 4px;
    border-radius: 4px;
}

.product-load-more-container-brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F6F7F8;
    color: #22262A;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    margin: 2%;
}

.dis-btn-brand {
    cursor: pointer;
    padding: 1% 2%;
}

.dis-btn-brand:hover {
    background-color: #22262A;
    color: #f0f0f0;
}

@media (max-width: 1060px) {
    .product-banner-text {
        margin-left: 5%;
        margin-right: 1%;
    }
    .product-banner-header {
        font-size: 2.6rem;
    }
    .product-banner-para {
        font-size: 1rem;
    }
    .product-banner-link {
        font-size: 1rem;
    }
    .Image_banner_product {
        max-width: 300px;
        max-height: 300px;
        margin-right: 1%;
    }
}

@media (max-width: 950px) {
    .leftHidden {
        display: none;
    }
    .RightWidth {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .product-banner {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .product-banner-text {
        padding-top: 6%;
        padding-left: 8%;
    }
}